/* general.css */

body {
	background-color: white;

	text-align:center;
	color:black;
	font-family:Helvetica;
	font-size:20px;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-size:40px;
}

img {
	height:50%;
	width:50%;
}

.link {
	font-size: 30px;
}