/*resume.css */

body {
	background-color: white;

	text-align: left;
	color: black;
	font-family: Helvetica;
	font-size: 20px;

	word-break: break-all;
	height: 20px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	text-align: center;
	font-size: 30px;
	height: 30px;
}

h2 {
	font-size: 25px;
	height: 25px;
}

h6 {
	font-size: 22px;
	height: 22px;
}

.link {
	font-size: 20px;
	height: 20px;
}