/*resume.css */

body {
	background-color: white;

	text-align: left;
	color:black;
	font-family:Helvetica;
	font-size:20px;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-size:50px;
	text-align: center;
}

h2 {
	font-size:40px;
}

h6 {
	font-size: 30px;
}

p {
	font-size: 20px;
}

.link {
	font-size: 30px;
}