/*resume.css */

body {
	background-color: white;

	text-align: left;
	color:black;
	font-family: Helvetica;
	font-size: 20px;

	word-break: break-all;

	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-size:30px;
	text-align: center;
}

h2 {
	font-size:25px;
}

h6 {
	font-size: 22px;
}

.link {
	font-size: 20px;
}